<h2 mat-dialog-title style="font-family:'Courier New', Courier, monospace">Edit Movie Details</h2>

<mat-dialog-content [formGroup]="editForm"> 
    <mat-form-field>
        <input matInput placeholder="ID" formControlName="imdbID" readonly>
        <mat-error *ngIf="editForm.controls.imdbID.invalid &&
          editForm.controls.imdbID.touched &&
          editForm.controls.imdbID.errors.required">ID is required
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Title" formControlName="Title" #titleInput>
        <mat-error *ngIf="editForm.controls.Title.invalid &&
          editForm.controls.Title.touched &&
          editForm.controls.Title.errors.required">Title is required
        </mat-error>
        <mat-error *ngIf="editForm.controls.Title.invalid &&
          editForm.controls.Title.touched && 
          editForm.controls.Title.errors.validTitle">This movie already exists!
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Year (YYYY)" formControlName="Year">
        <mat-error *ngIf="editForm.controls.Year.invalid &&
          editForm.controls.Year.touched &&
          editForm.controls.Year.errors.required">Year is required
        </mat-error>
        <mat-error *ngIf="editForm.controls.Year.invalid &&
          editForm.controls.Year.touched && 
          editForm.controls.Year.errors.pattern">Invalid year
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Runtime" formControlName="Runtime">
        <mat-error *ngIf="editForm.controls.Runtime.invalid &&
          editForm.controls.Runtime.touched &&
          editForm.controls.Runtime.errors.required">Runtime is required
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Genre" formControlName="Genre">
        <mat-error *ngIf="editForm.controls.Genre.invalid &&
          editForm.controls.Genre.touched &&
          editForm.controls.Genre.errors.required">Genre is required
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Director" formControlName="Director">
        <mat-error *ngIf="editForm.controls.Director.invalid &&
          editForm.controls.Director.touched &&
          editForm.controls.Director.errors.required">Director is required
        </mat-error>
    </mat-form-field>
</mat-dialog-content>
<h5 style="color: red;">{{message}}</h5>
<mat-dialog-actions>
    <button mat-raised-button (click)="close()">Cancel</button>
    <button mat-raised-button color="accent" (click)="save()">Save</button>
</mat-dialog-actions>