  <div style="text-align: center;">
      <button mat-raised-button color="accent" (click)="onAddClick()">Add a Movie</button>
  </div>
  <hr>
  <ul style="list-style-type:none">
    <li *ngFor="let movie of moviesList; let ind = index" class="col-md-4 col-sm-6 col-12">
      <b>ID: </b>{{movie.imdbID}}<br>
      <b>Title: </b>{{movie.Title | titlecase | removeNonEnglishLetters}}<br>
      <b>Year: </b>{{movie.Year}}<br>
      <b>Runtime: </b>{{movie.Runtime}}<br>
      <b>Genre: </b>{{movie.Genre}}<br>
      <b>Director: </b>{{movie.Director}}
      <br>
      <button mat-raised-button color="accent" (click)="onEditClick(ind)">Edit</button>&nbsp;
      <button mat-raised-button color="accent" (click)="onDeleteClick(ind)">Delete</button>
      <hr>
    </li>
  </ul>
