<h2 mat-dialog-title style="font-family:'Courier New', Courier, monospace">Delete this movie?</h2>

<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="true">OK</button>
</mat-dialog-actions>