<br>
<div class="container">
  <div class="jumbotron" style="text-align: center; background-color:#262626; color:#FF4081">
    <h1>Welcome To Cinema</h1>
    <h3>The Movies Library</h3>
  </div>
  <app-movies-list></app-movies-list>
<h4 style="text-align: center;">
  <a href="http://www.omdbapi.com" style="color: white;">www.omdbapi.com</a>
</h4>
</div>


